services:
  upload_web:
    restart: unless-stopped
    env_file:
    - .env.dev
    container_name: upload_app
    build:
      context: "."
      dockerfile: Dockerfile
    expose:
      - "5000"
    command: gunicorn --worker-class eventlet -w 3 -b 0.0.0.0:5000 core.wsgi:app --reload
    environment:
      - WSGI_HOST=0.0.0.0
      - PORT=5000
    depends_on:
      - upload_db
    volumes:
      - .:/app

  upload_nginx:
    restart: unless-stopped
    env_file:
    - .env.dev
    container_name: upload-nginx
    build:
      context: ./other_setups/nginx
      args:
        NGINX_CONF: nginx_dev.conf 
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    depends_on:
      - upload_web

  upload_db:
    restart: unless-stopped
    container_name: upload_db
    image: postgres:18
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=upload_dev
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: {}
